<!DOCTYPE html>
<html
  lang="en"
  x-data="{
      darkMode: localStorage.getItem('dark') === 'true' 
  }"
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
  x-bind:class="{ 'dark': darkMode }"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if '/index.html' == page.url or '/' == page.url %}
    <meta
      name="description"
      content="JHipster is a development platform to quickly generate, develop, and deploy modern web applications + microservice architectures."
    />
    <meta name="author" content="JHipster Team" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@jhipster" />
    <meta
      name="twitter:title"
      content="JHipster - Full Stack Platform for the Modern Developer!"
    />
    <meta
      name="twitter:description"
      content="JHipster is a development platform to quickly generate, develop, and deploy modern web applications + microservice architectures."
    />
    <meta
      name="twitter:image"
      content="https://www.jhipster.tech/images/twitter-card.png?20210212"
    />
    <meta name="twitter:url" content="https://www.jhipster.tech/" />
    {% endif %}
    <meta
      name="google-site-verification"
      content="JSA7VC5gSwD5KKbXlxK8F9rXJtC91rKJq0aWhfpBC0k"
    />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#353d47" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#353d47" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#353d47" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <!-- Font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Favicon with QHD -->
    <link
      rel="icon"
      type="image/png"
      href="/images/logo/favicon-64x64.ico"
      sizes="64x64"
    />
    <link
      rel="icon"
      type="image/png"
      href="/images/logo/favicon-48x48.ico"
      sizes="48x48"
    />
    <link
      rel="icon"
      type="image/png"
      href="/images/logo/favicon-32x32.ico"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/images/logo/favicon-16x16.ico"
      sizes="16x16"
    />

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body class="h-screen">
    <!-- Header -->
    {% include header.html %}
    <div class="bg-gray-50 dark:bg-gray-900 mx-auto content-area">
      {{ content }}
    </div>
    <!-- Footer -->
    {% include footer.html %}

    <!-- Javascript Libs -->
    <script
      src="https://kit.fontawesome.com/30a6a6999e.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="//unpkg.com/alpinejs" defer></script> -->

    <script type="text/javascript" src="{{ site.url }}/lib/js/ace.js"></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/mode-html.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/theme-github.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/jquery.easing.min.js"
    ></script>

    {% if page.angularjs == true %}
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/angular-1.4.8.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/angular-route-1.4.8.min.js"
    ></script>
    {% endif %}

    <!--App Javascript -->
    <script type="text/javascript" src="{{ site.url }}/js/app.js"></script>
    {% if page.home == true %}
    <script type="text/javascript" src="{{ site.url }}/js/services.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/index.js"></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/js/marketplace-list.js"
    ></script>
    <script type="text/javascript" src="{{ site.url }}/js/users.js"></script>
    {% endif %} {% if page.market == true %}
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/c3-0.4.10.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/d3-3.5.10.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/angular-sanitize.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/Showdown.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/lib/js/markdown.js"
    ></script>
    <script type="text/javascript" src="{{ site.url }}/js/services.js"></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/js/marketplace.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/js/marketplace-list.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/js/marketplace-details.js"
    ></script>
    {% endif %} {% if page.companies-using-jhipster == true %}
    <script type="text/javascript" src="{{ site.url }}/js/users.js"></script>
    {% endif %}
    <script>
      if (self !== top) {
        window.top.location.href = "https://www.jhipster.tech";
      }
    </script>
    <!-- Climate strike JS -->
    <script type="text/javascript">
      var DIGITAL_CLIMATE_STRIKE_OPTIONS = {
        disableGoogleAnalytics: true, // @type {boolean}
        showCloseButtonOnFullPageWidget: true, // @type {boolean}
      };
    </script>
    <script
      type="text/javascript"
      src="{{ site.url }}/js/climate-strike.js"
      async
    ></script>
    <!-- end Climate strike JS -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-46075199-1", "auto");
      ga("send", "pageview");
    </script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"
    ></script>
    <script type="text/javascript">
      docsearch({
        apiKey: "9bd47d3de4af6f3662fd11a7f0e38819",
        indexName: "jhipster",
        inputSelector: ".doc-search-algolia",
        debug: false, // Set debug to true if you want to inspect the dropdown
      });
    </script>
  </body>
</html>
